<h1><%= @mechanic.name %> Information Page </h1>

<div id="mechanic-<%=@mechanic.id%>">
Name: <%= @mechanic.name %> <br>
Experience: <%= @mechanic.years_experience %> years <br>
Maintenance Tickets: <% @mechanic.maintenance_tickets.open_rides.each do |ride| %> 
                        <%= ride.name %>
                        <% end %>
                      
</div>