<h1><%= @mechanic.name %> Information Page </h1>

<div id="mechanic-<%=@mechanic.id%>">
Name: <%= @mechanic.name %> <br>
Experience: <%= @mechanic.years_experience %> years <br>
Maintenance Tickets: <% @mechanic.maintenance_tickets.open_rides.order_by_thrill.each do |ride| %> 
                        <%= ride.name %>
                        <% end %>
                      
</div>
<br>
<br>
<br>
<br>
<%= form_with url: mechanic_maintenances_path(@mechanic), method: :post do |form| %>
  <%= form.label :ride_id, "Please add ride ID" %>
  <%= form.text_field :ride_id %>
  <%= form.submit "Submit" %>
<% end %>
